* {
  box-sizing: border-box;
}

#header-nav {
    border-radius: 0;
    border: 0;
}

.container .jumbotron {
  box-shadow: 0 0 50px #3F0C1F;
  border: 2px solid #3F0C1F;
}

.panel-footer {
  background-color: #222;
}

h1 {
  font-family: Josefin Slab;
}

h4 {
    font-family: 'Slabo 27px', serif;
    color: #951C49;
    height: 2em;
}

h5 {
  color: lightslategray;
}

body {
    background: url(http://i.imgur.com/gSrIQkp.png);
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #951C49;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}

.navbar-brand {
  padding-top: 25px;
}
.navbar-brand h1 { 
  font-family: 'Times New Roman', Times, serif, serif;
  color: #951C49;
  font-size: 1.5em;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}

@media (max-width: 767px) {
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { 
    padding-top: 10px;
    font-size: 5vw; 
  }
  
  #collapsable-nav a { 
    font-size: 1.2em;
  }
  #collapsable-nav a span { 
    font-size: 1em;
    margin-right: 5px;
  }

  #call-btn > a {
    font-size: 1.5em;
    display: block;
    margin: 0 20px;
    padding: 10px;
    border: 2px solid black;
    color: #951c49;
  }
}